body {
  font-family: sans-serif;
  margin: 2rem auto;
  max-width: 700px;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

time {
  font-weight: bold;
}
